<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>URL Shortener</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <style>
    body {
      text-align: center;

    }

    table {

      width: 1000px;
      height: auto;
      margin: 30px auto;
    }

    table,
    tr,
    th,
    td {
      border: 1px solid black;
      border-collapse: collapse;
    }
  </style>
</head>

<body class="p-10">
  <h1 class="text-xl mb-5 font-semibold">URL Shortener</h1>
  <form action="http://localhost:8000/url" method="POST">
    <label for="url">Enter your URL: </label>

    <input class="border mx-3 rounded-sm p-2" name="url" id="url" type="text" placeholder="https://example.com" />

    <button id="btn" type="submit" class="bg-sky-300 p-2 rounded-md py-2 px-5 font-semibold">Generate</button>
  </form>
  <div>
    <% if (locals.link) { %>
      <p>
        Short URL -
        <b>
          <%= link %>
        </b>
      </p>
      <% } %>
  </div>
  <div>
    <div class="urlAnalytics">
      <% if (locals.urls) { %>
        <table>
          <tr>
            <th>Short ID</th>
            <th>Link</th>
            <th>Redirect Site</th>
            <th>Total clicks</th>
          </tr>
          <tbody>
            <% urls.forEach(url=> { %>
              <tr>
                <td>
                  <%= url.shortID %>
                </td>
                <td>http://localhost:8000/url/<%= url.shortID %>
                </td>
                <td>
                  <%= url.redirectURL %>
                </td>
                <td>
                  <%= url.visitHistory.length %>
                </td>
              </tr>
              <% }) %>


          </tbody>
        </table>
        <% } %>
    </div>
  </div>
</body>

</html>